MIGRATION_STRATEGY={
    "invoices": {
        "SQL_QUERY": "SELECT ? FROM dbo.F_DOCENTETE WHERE DO_TotalHT != 0 AND DO_TotalTTC != 0 AND DO_Date > ?",
        "SQL_PARAMS": ["COLUMNS", "LIMIT_DATE"],
        "PATHS": [
            {
                "MongoDb": "code",
                "SQL": "DO_Piece"
            },
            {
                "MongoDb": "OBJ_dates_date",
                "SQL": "DO_DATE"
            },
            {
                "MongoDb": "OBJ_dates_BC",
                "SQL": "DL_DateBC"
            },
            {
                "MongoDb": "OBJ_dates_BL",
                "SQL": "DL_DateBL"
            },
            {
                "MongoDb": "total",
                "SQL": "DL_MontantHT"
            },
            {
                "MongoDb": "quantity",
                "SQL": "DL_Qte"
            },
            {
                "MongoDb": "model_id",
                "SQL": "AR_Ref"
            },
            {
                "MongoDb": "product_id",
                "SQL": "AR_Ref",
            },
            {
                "MongoDb": "customer_id",
                "SQL": "CT_NUM"
            },
            {
                "Mongodb": "representative_id",
                "SQL": "CO_No"
            }
        ]
    }
}
LINKING_STRATEGY={
    "invoices": {
        "local": {
            "identifier": "representative_id"
        },
        "remote": {
            "collection": "representatives",
            "identifier": "rep_id",
            "value": "_id"
        }
    }
}
