# sync config
SYNC_DELAY=86400

# SQL database config
SQL_SERVER=192.168.1.8
SQL_DATABASE_NAME=SARL
SQL_USERNAME=remote_user
SQL_PASSWORD=
ODBC_DRIVER_VERSION=18
SQL_ENCRYPT=No
SQL_TRUST_SERVER_CERTIFICATE=No

# Mongodb database config
MONGODB_URI=
MONGODB_DATABASE_NAME=parascope

# Migration strategy
# The database will not take into account document not updated since more than 6year
YEAR_LIMIT=6


# Path of the migration configuration file
MIGRATION_CONFIG_PATH="./config/migration.json"
MIGRATION_CLEANUP_CONFIG_PATH="./config/migration_cleanup.json"
LINKING_CONFIG_PATH="./config/link.json"
INDEXING_CONFIG_PATH="./config/index.json"
LINKING_CLEANUP_CONFIG_PATH="./config/link_cleanup.json"

LINKING_TEMPLATE_PATH="./aggregations/template/link.json"
